body{
    background-color: #f5f6fa;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    background-color: #ffff;

    padding: 20px; /*espaço interno*/
    border-bottom: 1px solid #ccc; /*borda*/
    margin-bottom: 20px; /*espaço externo*/;
    text-align: center;
    border-radius: 5px;
}

/*Menu*/
nav ul{
    list-style: none;          /* remove as bolinhas */
    display: flex;             /* coloca lado a lado */
    justify-content: center;   /* centraliza o menu */
    gap: 20px;                 /* espaço entre os itens */
    padding: 0;
    margin-top: 10px;
}

nav ul li a{
    text-decoration: none;     /* remove sublinhado */
    color: #333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover{
    background-color: #eee;    /* efeito ao passar o mouse */
}

nav button{
    padding: 8px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    border-style: 5px;
}

/*--- Seções ---*/
section{
background-color: #fff;
max-width: 1000px;
margin: 0 auto; 
padding: 20px;
margin-bottom: 20px;
border: 1px solid #ddd;
border-radius: 5px;
}

/*--- Titulos ---*/
h2 {
    text-align: center;
    margin-bottom: 10px; /* BOX MODEL */
}

/*--- Paragafos ---*/
p{
    text-align: center;
    margin-bottom: 15px; /* BOX MODEL */
}

/*--- Artigos ---*/
article{
    border: 1px solid #ccc;
    padding: 15px; 
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}

/*--- Lista ---*/
ul{
    list-style-position: inside;
}

/*--- Rodape ---*/
footer{
    background-color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    border-radius: 5px;
}

/*--- Capa ---*/
.capa{
    display: block;
    margin: 0 auto 15px;
    border-radius: 15px;
    overflow: hidden
}

/*--- Carrossel ---*/
.carrossel{
    width: 850px;
    height: 500px;
    margin: 30px auto 10px;
    overflow: hidden;
    border-radius: 10px;
}
/*--- Imagens do Carrossel ---*/
.carrossel img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    display: none;
}

/*--- Imagem Ativa ---*/
.carrossel img.ativa{
    display: block;
}

/*--- Botoes ---*/
.botoes button{
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #f51b1b;
    color:#fff
}
.botoes{
    display: flex;
    justify-content: center;
}


/*--- Tabela discografia ---*/
.discografia{
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center
}

.discografia th,
.discografia td{
    padding: 10px;
}
